.headerContainer {
  display: flex;
  width: 800px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.headerLeft {
  display: flex;
  gap: 5px;
  flex: 1;
  font-size: 20px;
  align-items: center;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    opacity: 0.9;
    border-radius: 4px;
    background: none rgba(255, 255, 255, 0.2);
    box-shadow: none;
    border: none;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
  }
}