@import './variables';

.timerContainer {
    background-color: rgb(255 255 255 / 10%);
    border-radius: 10px;
    padding: 0.75em 2em;
    margin-top: 1.5em;
}

.timerStringContainer {
    .warning {
        font-size: 12px;
        font-style: italic;
        font-weight: lighter;
    }
        
    p { 
        font-size: 120px;
        margin: 0;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif
    }
}

.timerControls {
    .controls {
        border: none;
        border-radius: 4px;
        font-size: 22px;
        height: 55px;
        background-color: white;
        color:  $pomoBackground;
        margin: 20px 0 10px;
        padding: 0 12px;
        width: 200px
    }

    // fontawesome
    svg {
        vertical-align: middle;
        margin-left: 2.5rem;
        opacity: 0.9;
    }
}

.timerManipulate {
    display: flex;
    gap: 1rem;
}

.modeButton {
    background: none;
    border: none;
    color: white;
    margin: 10px;

    &.activeMode {
        background-color: rgb(0 0 0 / 15%);
        border-radius: 4px;
        padding: 2px 12px;
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.pomoCount {
    display: inline-block;
    font-size: 16px;
    opacity: 0.6;
    margin-bottom: 4px;
}

.pomoMessage {
    font-size: 18px;
    font-weight: 100;
    color: white;
    overflow-wrap: break-word;
}