.summaryContainer {
  background-color:rgb(248, 232, 231);
  border-radius: 8px;
  min-width: 120px;
  text-align: right;
  padding: 18px 14px;
  margin-top: 20px;
}
.content {
  margin: auto;
  color: rgb(186, 73, 73);
  font-weight: bold;
}
.number {
  font-size: 5vh;
}
.details {
  font-size: 13px;
  text-align: right;
}